fastapi
uvicorn
nltk>=3.6.5
spacy<3.2.0
https://github.com/mihal277/pywsd/archive/refs/heads/load-signatures-from-json.zip
wn==0.0.23
  # this version is required by pywsd but pip-compile installs the newest one