fastapi
uvicorn
nltk>=3.6.6
spacy
typing_extensions<4.6.0
  # https://github.com/explosion/spaCy/issues/12659
transformers
torch
mangum
lambda-warmer-py
boto3
  # this is a dependency of lambda-warmer-py but not added by pip-compile